@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot");
    src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot");
    src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}