body {
	background: #E5E5E5;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.but {
	width: 160px;
	height: 48px;
	border: 0px;
	background: #FFFFFF;
	border-radius: 12px;
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	color: #1A1A1A;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
}

.but.but_2 {
	width: 224px;
	height: 48px;
	background: #36BA5F;
	color: #FFFFFF;
}

.icon {
	display: inline-block;
}
.icon.icon_1 {
	background: url("../images/icons/comment.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
    margin-top: -1px;
}
.icon.icon_2 {
	background: url("../images/icons/phone.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
    margin-top: -1px;
}
.icon.icon_3 {
	background: url("../images/icons/email.png") no-repeat center center;
	width: 14px;
	height: 11px;
	margin-right: 8px;
    margin-top: -1px;
}
.icon.icon_4 {
	background: url("../images/icons/star.png") no-repeat center center;
	width: 16px;
	height: 15px;
	margin-right: 8px;
    margin-top: -2px;
}

.icon.icon_5 {
	background: url("../images/icons/chat.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.owl-nav {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -22px;
}
.owl-prev,
.owl-next {
	width: 44px;
	height: 44px;
	background: #fff !important;
	border-radius: 44px;
	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
}

.owl-prev span,
.owl-next span {
	background: url("../images/icons/arrow_right_2.png") no-repeat center center;
	width: 8px;
	height: 12px;
	display: inline-block;
	font-size: 0px;
}

.owl-prev span {
	transform: rotate(180deg);
}



/*  main */
.main {
	position: relative;
	padding: 40px;
	box-sizing: border-box;
}

.main__wrap {
	background: #93BBEA;
	border-radius: 40px;
	/*max-height: 306px;*/
	padding: 40px 0px 54px 0px;
	box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.main__title {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	z-index: 10;
}

.main__wrap:after {
	content: '';
	background: url("../images/bg_1.png") no-repeat center center;
	width: 263px;
	height: 196px;
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.main__wrap:before {
	content: '';
	background: url("../images/bg_2.png") no-repeat center center;
	width: 278px;
	height: 226px;
	display: block;
	position: absolute;
	z-index: 1;
}

.main__desc {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 140%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	position: relative;
	z-index: 10;
}
.main__buttons {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 10;
	flex-wrap: wrap;
}
.main__but {
	margin-left: 8px;
}
.main__but:first-child {
	margin-left: 0px;
}

/* main end  */

/* social  */
.social {
	padding: 42px 0px 40px 0px;
	box-sizing: border-box;
}
.social__wrap {
	margin:  0 auto;
	width: 100%;
	max-width: 996px;
	/*height: 166px;*/
	background: #FFFFFF;
	box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
	border-radius: 40px;
	padding: 42px 40px;
	box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social__title.social__title_1 {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 120%;
	color: #1A1A1A;
}
.social__title.social__title_2 {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: #1A1A1A;
	margin-top: 16px;
}
.social__buttons {

}
.social__but {
	margin-left: 14px;
}
.social__but:first-child {
	margin-left: 0px;
}

/* socal end  */

/* questions */
.questions {
	padding: 40px;
	box-sizing: border-box;
}
.questions__title {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: #1A1A1A;
	text-align: center;
}

.questions__items {
	margin-top: 32px;
    display: flex;
    justify-content: space-around;
	position: relative;
}
.questions-item {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	width: 100%;
	max-width: 282px;
	height: 160px;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
}
.questions-item.questions-item__1:after {
	content: '';
	background: url("../images/bag.png") no-repeat center center;
	width: 104px;
	height: 160px;
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.questions-item__title {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: #1A1A1A;
	
}

.questions-item__title.questions-item__title_1 {
	width: 70%;
}
.questions-item__desc.questions-item__desc_1 {
	width: 70%;
}

.questions-item__desc {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #949494;
	margin-top: 8px;
}

/* questions end  */

/* faq  */
.faq {
	padding: 40px 0px 80px 0px;
}
.faq__title {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: #1A1A1A;
	text-align: center;
}

.faq__items {
	list-style-type: none;
	padding: 0px;
	width: 100%;
	max-width: 996px;
	margin: 0 auto;
	margin-top: 32px;
}
.faq-item {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	padding: 24px 20px;
	box-sizing: border-box;
	margin-top: 12px;
}
.faq-item:first-child {
	margin-top: 0px;
}
.faq-item__link {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: #1A1A1A;
	text-decoration: none;
	display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.faq-item__link:after {
	content: '';
	background: url("../images/icons/arrow_right.png") no-repeat center center;
	width: 24px;
	height: 24px;
	position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -12px;
}

.faq-item__desc {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #949494;
	margin-top: 4px;
	width: 50%;
}

/* faq end  */

/* article  */
.article {
	background: #fff;
	padding: 22px 40px;
	box-sizing: border-box;
	padding-bottom: 80px;
}
.article__wrap {
	width: 100%;
	max-width: 690px;
}
.article__title {
	display: flex;
	align-items: center;
}
.article__share {
	margin-left: 15px;
}
.article__h1 {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 120%;
	color: #1A1A1A;
	padding: 0px;
	margin:  0px;
}
.article__content {
	margin-top: 16px;
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 140%;
	color: #1A1A1A;
}
.article__content p {
	padding: 0px;
	margin: 0px;
}


.article-social {
	margin-top: 40px;
}
.article-social__label {
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 120%;
	color: #1A1A1A;

}
.article-social__buttons {
	margin-top: 16px;
	display: flex;
	flex-wrap: wrap;
}
.article-social__but {
	margin-left: 8px;
}
/* article end  */