
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
	/**/

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/**/

	.social__wrap {
		justify-content: center;
		text-align: center;
	}
	.social__buttons {
		margin-top: 10px;
	}
	.social__title.social__title_1 {
		font-size: 12px;
	}
	.social__title.social__title_2 {
		margin-top: 10px;
		font-size: 30px;
	}
	.questions-item {
		max-width: 100%;
	}
	.faq__title {
		font-size: 30px;	
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/**/
	.faq {
	    padding: 20px 0px 40px 0px;
	}
	.main__wrap {
		padding: 20px 0px 20px 0px;
	}

	.main__buttons {
		justify-content: space-around;
	}

	.main__buttons .but {
		max-width: 230px;
		width: 100%;
		margin-left: 0px;
		margin-top: 5px;
	}

	.main__title {
		font-size: 40px;
	}

	.questions__title {
		font-size: 30px;
	}
	.owl-nav {
		display: none;
	}
	.questions {
		padding: 10px;
	}
	.main {
		padding: 10px;
	}
	.social {
		padding: 10px;	
	}
	.social__wrap {
		justify-content: center;
		text-align: center;
    	padding: 10px;
	}

	.article {
		padding: 20px;
	}
}

@media only screen and (max-width : 600px) {
	/**/
	.social__title.social__title_2 {
		font-size: 25px;
	}
	.questions__title {
		font-size: 25px;
	}
	.main__title {
		font-size:35px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/**/
	.article-social__buttons {
		justify-content: center;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	/**/

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/**/
}